<!DOCTYPE html>
<html>
	<head>
		 <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<script type="text/javascript" src="../script/lib/flexible.js"></script>
		<link rel="stylesheet" href="../css/iconfont.css" />
		<link rel="stylesheet" href="../css/basic.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<script type="text/javascript" src="../script/lib/vue.min.js"></script>
		<title>修改登录密码</title>
	</head>
	<body class="bindphone">
		<header class="bottom-line">
			<i class="icon-font icon-zuo t-size-16 fl " onclick="api.closeWin()"></i>
			<span class="t-center t-size-16">修改登录密码</span>
		</header>
		<form class="container"  id ="change_password">
			  <div class="input-in bottom-line t-size-14">
			  	  <input type="number" placeholder="请输入新手机号码" class="t-size-14" ref="myphone" id="myphone" v-model="person.Mobile" />
			  	  <button class="btn-middle t-size-12 c-white btn-bg-o " onclick="GetCode(this,1,'UpdatePwd')">获取验证码</button>
			  </div>
			  <div class="input-in bottom-line">
			  	  <input type="number"  placeholder="请输入验证码" class="t-size-14" ref="code" required="必填"/>
			  </div>
			  <div class="input-in bottom-line">
			  	  <input type="number"  placeholder="请输入新密码" class="t-size-14" ref="pwd" required="必填"/>
			  </div>
			  <div class="input-in bottom-line">
			  	  <input type="number"  placeholder="请再次输入新密码" class="t-size-14" ref="rpwd" required="必填" v-model="rpwd"/>
			  </div>
			  <button class="btn-large btn-bg-o c-white t-size-14" @click="BtnData()" type="button">提交</button>
		</form>
		<script type="text/javascript" src="../script/lib/api.js"></script>
		<script type="text/javascript" src="../script/js/commom.js"></script>
		<script type="text/javascript" src="../script/js/change_password.js"></script>
	</body>
</html>
