<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<script type="text/javascript" src="../script/lib/flexible.js"></script>
	<link rel="stylesheet" href="../css/iconfont.css" />
	<link rel="stylesheet" href="../css/basic.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<script type="text/javascript" src="../script/lib/vue.min.js"></script>
	<title>搜索</title>
</head>

<body class="search-result">
	<div id="search_list">
		<header class="clearfix search">
			<i class="icon-font icon-zuo fl t-size-16" onclick="api.closeWin()"></i>
			<input type="search" placeholder="搜索技师" class="t-center fl t-size-12"  ref="Words" @keypress="getKeywords()"/>
		</header>
		<div class="container" id="search_list_com">
			<div class="search-li">
				<div class="clearfix title-meou " v-show="ok1" v-on:click="openView('search_technician',1)">
					<span class="fl t-size-14">修车技师</span>
					<div class="fr t-size-14">
						<span>更多</span>
						<i class="icon-font icon-gengduo"></i>
					</div>
				</div>
				<ul class="search-list">
					<li class="search-li0" v-for="item in list1" @click="openView('technician_home2',item.Guid)">
						<div class="clearfix">
							<img v-bind:src="item.Photo" class="fl" />
							<div class="fl content">
								<div class="fl t-size-12">
									<div>
										<span>{{item.RealName}}</span>
										<img src="../image/king.png" class="sign" />
										<span>{{item.Name}}</span>
										<img src="../image/qi.png" class="sign" />
									</div>
									<div>21221</div>
									<div>
										<i class="icon-font icon-dingwei c-gray t-size-16"></i>
										<span class="t-size-14">12424</span>
									</div>
								</div>
								<div class="fr">
									<div class="t-size-14">评分:&nbsp;<span class="c-red">5.0</span></div>
									<button class="btn-small c-orange btn-bg-white t-size-12">预约</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="search-li">
				<div class="clearfix title-meou " v-show="ok2"  v-on:click="openView('search_expert',1)" >
					<span class="fl t-size-14">咨询专家</span>
					<div class="fr t-size-14">
						<span>更多</span>
						<i class="icon-font icon-gengduo"></i>
					</div>
				</div>
				<ul class="search-list">
					<li class="search-li0 bottom-line" v-for="item in list2" @click="openView('technician_home',item.Guid)">
						<div class="clearfix" style="padding-bottom:0.3125rem">
							<img v-bind:src="item.Photo" class="fl" />
							<div class="fl content ">
								<div class="fl t-size-12">
									<div class="">
										<span>{{item.RealName}}</span>
										<img src="../image/king.png" class="sign" />
										<span>{{item.Name}}</span>
										<img src="../image/qi.png" class="sign" />
									</div>
									<div>21221</div>

								</div>
								<div class="fr">

									<button class="btn-small c-orange btn-bg-white t-size-12">咨询</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="search-li">
				<div class="clearfix title-meou " v-show="ok3" v-on:click="openView('technician_answer2',1)">
					<span class="fl t-size-14">技师回答</span>
					<div class="fr t-size-14">
						<span>更多</span>
						<i class="icon-font icon-gengduo"></i>
					</div>
				</div>
				<ul class="search-list">
					<li class="search-li0" style="padding-left:0;padding-right:0;" v-for="item in list3">
						<div class="t-size-14 c-black ellipse_three">
							{{item.Title}}
						</div>
						<div class="show-img clearfix">
							<img v-bind:src="li" class="img-li" style="width:2.7rem;height:2.6rem;border-radius: 4px;" v-for="(li,index) in ( item.Image.indexOf('|') != -1  ? item.Image.split('|') : [item.Image]) " @click.stop="PhotoBrowser( item.Image.indexOf('|') != -1  ? item.Image.split('|') : item.Image,index)"
							/>

						</div>
						<div class="clearfix t-size-12 bottom-tilte bottom-line">
							<div class="fl c-gray">{{item.CreateTime}}</div>

						</div>
					</li>

				</ul>
			</div>

			<div class="search-li">
				<div class="clearfix title-meou " v-show="ok4" v-on:click="openView('new',1)">
					<span class="fl t-size-14">维保资讯</span>
					<div class="fr t-size-14">
						<span>更多</span>
						<i class="icon-font icon-gengduo"></i>
					</div>
				</div>
				<ul class=" pr-list search-list">

					<li class="pr-li bottom-line clearfix" v-for="item in list4" v-on:click="openView('news_detail',item.Guid)" style="padding: 0.3125rem 0">

						<img v-bind:src="item.Image" class="fl" style="height:2.34375rem;width:3.09375rem" />
						<div class="content fl" style="padding-left:0.25rem">
							<div class="title ellipse_two t-size-14">{{item.Title}}</div>
							<div class="t-size-12 c-gray">{{item.ClickCount}}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../script/lib/api.js"></script>
	<script type="text/javascript" src="../script/js/commom.js"></script>
	<script type="text/javascript" src="../script/js/search_list.js"></script>
</body>

</html>
